extends layout

block scripts
    script(type='text/javascript').
      var nextSetTitle = !{JSON.stringify(nextSetTitle)};
      var prevSetTitle = !{JSON.stringify(prevSetTitle)};

    script(src='/javascript/comic_page.js')

block content
    #header
        h1 Team Phocas here!
        #btnBack
            a(href='/')
                button.btn Back
             
    #next
        #btnNext.nextButton
            span Next
    #prev
        #btnPrev.prevButton
            span Previous
    #section
        h2 #{title}
        ul
            each image, i in imageList
                li
                    img(class="uploadedImage", src='#{image.imageUrl}')
    #footer
        | Copyright © Phocas
  
  