extends layout

block scripts
    script(src='/javascript/comic_page.js')

block content
    #header
      h1 Team Phocas here!
    #next
      b1.nextButton(style='vertical-align:middle', onclick="nextPic()")
        span Next 
    #prev
      b2(class="prevButton", onclick="prevPic()")
        span Previous
    #section
      h2 #{title}
      ul
            each image, i in imageList
                li
                    img(class="uploadedImage", src='#{image.imageUrl}')
    #footer
      | Copyright © Phocas
  
  