extends layout

block content
    #header
      h1 Team Phocas here!
    #next
      img(src="images/next_button.png", style='height:60px;width=100px;')
    #prev
      img(src="images/prev_button.png", style='height:60px'
      )
    #section
      h2 Boom Shakalaka
      img(src="images/comic_example.jpg", alt = "img should be here")
    #footer
      | Copyright © Phocas
  
  