extends layout

block content
    #header
      h1 Team Phocas here!
    #next
      b1.nextButton(style='vertical-align:middle')
        span Next 
    #prev
      b2(class="prevButton")
        span Previous
    #section
      h2 Boom Shakalaka
      img(src="images/comic_example.jpg", alt = "img should be here")
    #footer
      | Copyright © Phocas
  
  