extends layout

block scripts
    script(type='text/javascript').
      var nextSetTitle = !{JSON.stringify(nextSetTitle)};
      var prevSetTitle = !{JSON.stringify(prevSetTitle)};

    script(src='/javascript/comic_page.js')

block content
    head
        link(rel='stylesheet', href='/stylesheets/style-page.css')
        link(rel='stylesheet', href='/stylesheets/rating.css')
        link(rel='stylesheet', href='/stylesheets/font-awesome.css')
        script(src='/javascript/rating.js')
        title Phocas Star Rating
        
    body

        nav.o-header-nav
            a.o-header-nav__link(href='/manage_comics')
                //i.fa.fa-arrow-left
                .fa-1x Manage
 
            form#form
                input#search-input(type='text', placeholder='Find a Comic', autocomplete = "off")
                #button-holder
                    img(src='/images/mag.png')

            a.o-header-nav__link(href='/sign_up')
                .fa-1x Sign Up
                //i.fa.fa-star
        header.o-header
            .o-container
                a(href='/')
                    h1.o-header__title Phocas
    #prev           
        #btnPrev 
            button(class="btn") Previous
    #next       
        #btnNext
            button(class="btn") Next
        
    
    
     main.o-content
        .o-container
            .o-section
                #section
                    h2 #{title}
                    #editComicBottom
                        a(href='/edit_comic/' + title) Edit this comic!
                    ul
                        each image, i in imageList
                            li
                                img(class="uploadedImage", src='#{image.imageUrl}')
                                    



    // footer.o-footer
    //     .o-container
    //         small © 2016, Phocas
    #footer © 2016, Phocas

  
  