extends layout


block content
    #header
      h1 Team Phocas here!
    #next
      script(src='/javascript/functions.js')
      b1.nextButton(style='vertical-align:middle', onclick="nextPic()")
        span Next 
    #prev
      b2(class="prevButton", onclick="prevPic()")
        span Previous
    #section
    //   h2 title
    //   ul
    //         each image, i in imageList
    //             li
    //                 img(class="uploadedImage", src='#{image.imageUrl}')
        h2 Yeah!~
    h2 Yeah!~  
    #footer
      | Copyright © Phocas
  
  