extends layout

block content
    form#forUploadImage(name="uploadImage",method="post",action="/upload" enctype="multipart/form-data") Select an image to upload:
        input#inputImage(type="file", name="image")
        button#btnUpload(type="submit") Upload Image