extends layout

block content
    #login
        a(href = '/sign_in')
            img(src="images/signin.jpg", style='height:30px;width=50px;')

    #signup
        a(href = '/sign_up')
            img(src="images/signup.png", style='height:35px;width=50px;')

    
    ul
        each comicSet, c in comicSets
            li
                p #{comicSet.title}
                    each image, i in comicSet.imageList
                        a(href='/comic_page/'+comicSet.title)
                            img#comicSetImage(class="uploadedImage", src= '#{image.imageUrl}')
