extends layout

block scripts
    script(type='text/javascript').
        var imgdata = !{JSON.stringify(imageList)};
                //var star = #{astar};
    script(src='/javascript/star.js')

    script(type='text/javascript').
        //...
    script(src='/javascript/search.js')


block content
    head
        link(rel='stylesheet', href='/stylesheets/style-page.css')
        link(rel='stylesheet', href='/stylesheets/rating.css')
        link(rel='stylesheet', href='/stylesheets/font-awesome.css')
        script(src='/javascript/rating.js')
        title Phocas Star Rating

    input#input(type="text")
    button#btnForsearch Search

    body
        nav.o-header-nav
            a.o-header-nav__link(href='/manage_comics')
                //i.fa.fa-arrow-left
                .fa-1x Manage My Comics
            a.o-header-nav__link(href='/login')
                .fa-1x Login
                //i.fa.fa-star
        header.o-header
            .o-container
                h1.o-header__title Phocas

        if (indicator === 1)
            p No result
            p Back to #[a(href='/') All Comics]

        main.o-content
            .o-container
                .o-section
                    #shop
        footer.o-footer
            .o-container
                small © 2016, Phocas