extends layout

block scripts
    script(type='text/javascript').
        //var titleList = !{JSON.stringify(titleList)};
        //var star = #{astar};
    script(src='/javascript/star.js')

block content
    head
        link(rel='stylesheet', href='/stylesheets/style-star.css')
        title Five Star Rating
    #login
        a(href = '/login') Login
    #edit     
        a(href = '/comic_page/comicSet1') Comic Page
    body
        a(href = '/manage_comics') Manage comics
        header.o-header
            .o-container
                h1.o-header__title Phocas
        main.o-content
            .o-container
                .o-section
                    #shop
        footer.o-footer
            .o-container
                small © 2016, Phocas

