extends layout

block content
    #login
        a(href = '/sign_in')
            img(src="images/signin.jpg", style='height:30px;width=50px;')

    #signup
        a(href = '/sign_up')
            img(src="images/signup.png", style='height:35px;width=50px;')

    #edit
<<<<<<< HEAD
        a(href = '/manage_comics') Manage comics
=======
        a(href = '/edit_comic')
            img(src="images/edit.png", style='height:40px;width=60px;')

>>>>>>> 42d70fdb9f8798e427911223413b703ce8bc18e1
    
    ul
        each comicSet, c in comicSets
            li
                p #{comicSet.title}
                    each image, i in comicSet.imageList
                        a(href='/comic_page/'+comicSet.title)
                            img#comicSetImage(class="uploadedImage", src= '#{image.imageUrl}')
<<<<<<< HEAD



=======
>>>>>>> 42d70fdb9f8798e427911223413b703ce8bc18e1
