extends layout

block content
    #login
      a(href = '/sign_in')
        img(src="images/signin.jpg", style='height:30px;width=50px;')

    #signup
      a(href = '/sign_up')
        img(src="images/signup.png", style='height:35px;width=50px;')

    for url in urls
        li
            a(href = '/comic_page')
                img(class="uploadedImage", src='#{url}')
