extends layout

block content
    #login
      a(href = '/log_in')
        img(src="images/login.jpg", style='height:30px;width=50px;')

    #signup
      a(href = '/sign_up')
        img(src="images/signup.png", style='height:35px;width=50px;')



