doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='/stylesheets/jquery-ui.css')
        block essential
            script(src='/javascript/jquery-2.2.0.js')
            script(src='/javascript/jquery-ui.js')
            script(src="/javascript/config.js")
            script(src='/javascript/require.js')

        block scripts

    body
        block content
