extends layout

block content
    h1= title

    form#formSignIn(name="adduser",method="post",action="/login")
        input#inputUserName(type="text", placeholder="username", name="username")
        input#inputPassword(type="password", placeholder="password", name="userpassword")
        button#btnSubmit(type="submit") submit

    


    #signup
        a(href = '/sign_up')
            img(src="images/SignUp.jpg", style='height:35px;width=50px;')


        
