extends layout

block scripts
    script(type='text/javascript').
        var imgdata = !{JSON.stringify(imageList)};
                //var star = #{astar};
    script(src='/javascript/star.js')

    script(type='text/javascript').
        //...
    script(src='/javascript/search.js')


block content
    head
        link(rel='stylesheet', href='/stylesheets/style-page.css')
        link(rel='stylesheet', href='/stylesheets/rating.css')
        link(rel='stylesheet', href='/stylesheets/font-awesome.css')
        script(src='/javascript/rating.js')
        title Phocas Star Rating

    body
        nav.o-home-nav
            a.o-home-nav__link(href='/')
                //i.fa.fa-arrow-left
                .fa-1x Home 

        nav.o-home-nav
            a.o-home-nav__link(href='/edit_comic')
                //i.fa.fa-arrow-left
                .fa-1x Create 

        nav.o-header-nav
            a.o-header-nav__link(href='/manage_comics')
                //i.fa.fa-arrow-left
                .fa-1x Manage

            if(loggedin === 1)
                p.fa-xx Please Logout Before Logging in
                a.o-header-nav__link(href='/logout')
                    .fa-1x Log out
                    //i.fa.fa-star
            else
                a.o-header-nav__link(href='/sign_up')
                    .fa-1x Sign Up
                    //i.fa.fa-star

        header.o-header
            .o-container
                a(href='/')
                    h1.o-header__title Phocas

        main.o-container
            .o-container
                .o-section
                    form#formSignIn(name="adduser",method="post",action="/login")
                        t1 Please enter your username.
                        br
                        input#inputUserName(type="text", placeholder="username", name="username")
                        br
                        t2 Please enter your password. 
                        br
                        input#inputPassword(type="password", placeholder="password", name="userpassword")
                        br
                        button#btnSubmit(type="submit") submit
        
          

        footer.o-footer
            .o-container
                small © 2016, Phocas

    


 


        
