extends layout

block content
    h1= title
    form#formSignUp(name="adduser",method="post",action="/sign_up")
        input#inputUserName(type="text", placeholder="username", name="username")
        input#inputPassword(type="password", placeholder="password", name="userpassword")
        button#btnSubmit(type="submit") submit
