#header {
    background-color:black;
    color:white;
    text-align:center;
    padding:5px;
}
#prev {
    line-height:30px;
    background-color:#eeeeee;
    height:600px;
    width:100px;
    float:left;
    padding:5px;
    vertical-align: middle;
}
#next {
    line-height:30px;
    background-color:#eeeeee;
    height:600px;
    width:100px;
    float:right;
    padding:5px;
    text-align: center;
    vertical-align: middle;
}

#login{
    line-height:30px;
    background-color:#eeeeee;
    height:0px;
    width:200px;
    float:right;
    padding:0px;
    text-align: center;
}

#signup{
    line-height:30px;
    background-color:#eeeeee;
    height:0px;
    width:500px;
    float:right;
    padding:0px;
    text-align: center;
}

#section {
    width:600px;
    float:left;
    padding:10px;
}
#footer {
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
    padding:5px;
}
.nextButton {
  display: inline-block;
  border-radius: 1px solid black;
  background-color: red;
  border: 1px solid black;
  color: black;
  text-align: center;
  padding: 10px;
  width: 80px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  height: 20px;
  vertical-align: middle;
}

.nextButton span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.nextButton span:after {
  content: '>>';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.nextButton:hover span {
  padding-right: 25px;
}

.nextButton:hover span:after {
  opacity: 1;
  right: 0;
}

.prevButton {
  display: inline-block;
  border-radius: 1px solid black;
  background-color: red;
  border: 1px solid black;
  color: black;
  text-align: center;
  padding: 10px;
  width: 80px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  height: 20px;
  vertical-align: middle;
}

.prevButton span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.prevButton span:after {
  content: '<<';
  position: absolute;
  opacity: 0;
  top: 0;
  left: -20px;
  transition: 0.5s;
}

.prevButton:hover span {
  padding-left: 25px;
}

.prevButton:hover span:after {
  opacity: 1;
  left: 0;
}

.uploadedImage {
    width: 200px;
    height: 200px;
}

