#header {
    background-color:black;
    color:white;
    text-align:center;
    padding:5px;
}
#prev {
    line-height:30px;
    background-color:#eeeeee;
    height:600px;
    width:100px;
    float:left;
    padding:5px;
}
#next {
    line-height:30px;
    background-color:#eeeeee;
    height:600px;
    width:100px;
    float:right;
    padding:5px;
    text-align: center;
}

#login{
    line-height:30px;
    background-color:#eeeeee;
    height:0px;
    width:200px;
    float:right;
    padding:0px;
    text-align: center;
}

#signup{
    line-height:30px;
    background-color:#eeeeee;
    height:0px;
    width:500px;
    float:right;
    padding:0px;
    text-align: center;
}

#section {
    width:600px;
    float:left;
    padding:10px;
}
#footer {
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
    padding:5px;
}

.uploadedImage {
    width: 200px;
    height: 200px;
}

